.task-detail p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.task-detail td {
    text-align: left;
}

.status-container {
    display: flex;
    width: 100%;
}

.update-button {
    margin-left: 10px;
}