body {
  background-color: rgb(253, 251, 212);
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 45px;
}

h2 {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

p {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(140 140 140);
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
